@import url(cabinet-grotesk.css);
@import "https://unpkg.com/open-props";


/* diagnostic styling */
/* * {
  outline: 8px solid gray;
} */

/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'CabinetGrotesk-Regular';
    background-image: var(--gradient-26)

  }
  
  /* scene */
  .scene {
    width: 300px;
    height: 400px;
  
    /* set perspective   */
    perspective: 600px;
  }
  
  /* card */
  .card {
    width: 100%;
    height: 100%;
    position: relative;

    box-shadow: var(--shadow-3);
  
    cursor: pointer;
    transition: transform 0.5s;
  
    /* preserve child 3d   */
    transform-style: preserve-3d;
  }
  
  /* face */
  .face {
    position: absolute;
    height: 100%;
    width: 100%;
  
    /* hide back face   */
    backface-visibility: hidden;
  }
  
  .front {
    background: #F1C1D6;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .back {
    background: #A49DEC;
    /* flip it default   */
    transform: rotateY(180deg);
    text-align: center;
  }
  
  /* flip card
    * toggle with JS
    */
  .flipped {
    transform: rotateY(180deg);
  }
  
  section img {
    width: 100%;
    object-fit: cover;
  }

  
  